<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinConceptsPractice"
        tools:targetApi="31">
        <activity
            android:name=".coroutines.flow.FlowActivity"
            android:exported="false"
            android:label="@string/title_activity_flow"
            android:theme="@style/Theme.KotlinConceptsPractice" />
        <activity
            android:name=".ui.activity.DataBindingActivity"
            android:exported="true"
            android:theme="@style/Theme.KotlinConceptsPractice">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.MyForegroundService" />

        <activity
            android:name=".ui.activity.ProductListActivity"
            android:exported="false"
            android:label="@string/title_activity_product_list"
            android:theme="@style/Theme.KotlinConceptsPractice" />
        <activity android:name=".ui.customview.CustomViewActivity" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="screenLayout|screenSize"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.KotlinConceptsPractice" />
        <activity android:name=".ui.activity.ActivityA" />
    </application>

</manifest>